/* Index */

#index_header{
    position: fixed;
    height: 100px;
    border: 5px solid grey;
}

#glide_icon{
    display: block;
    position: absolute;
    height: 100%;
    width: auto;
    float: left;
}

@keyframes h1_index {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1.index {
    color: rgb(6, 92, 252);
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 25%;
    left: 10px;
    /* animation-name: h1_index;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    }

h2.index {
    color: rgba(0, 0, 0, 0.884);
    font-family: monospace;
    text-align: center;
}

h3.index {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0px;
}

a.index, a.index:visited {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: blue;

}

ul{
    list-style-position: inside;
    padding-left: 0;
    padding-top: 0px;
    display: inline;
}

/* Sogra */

body.sogra {
    background-color: black;
}

@keyframes sogra {
    100% {
        transform: translate(-50%, -50%) rotateX(0deg) rotateY(360deg) rotateZ(0deg);
    }
}

#sogra_img,
#sogra_img_despues {
    max-width: 70%;
    max-height: 70%;
    position: fixed;
    left: 22%;
    top: 50%;
    display: block;
    animation-name: sogra;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

#sogra_img_despues {
    left: 80%;
}

@keyframes sogra_peca {
    10% {
        color: rgb(14, 218, 184);
    }
    20% {
        color: #00ffbf;
    }
    30% {
        color: rgb(0, 255, 34);
    }
    40% {
        color: rgb(238, 255, 0)
    }
    50% {
        color: rgb(252, 156, 11);
    }
    60% {
        color: rgb(252, 11, 11)
    }
    70% {
        color: rgb(255, 0, 221)
    }
    80% {
        color: rgb(132, 0, 255)
    }
    90% {
        color: rgb(0, 4, 255)
    }
    100% {
        color: rgb(11, 252, 252);
    }
}

h1.sogra {
    position: fixed;
    left: 50%;
    top: 90%;
    color: rgb(11, 252, 252);
    font-family: 'Oswald', sans-serif;
    transform: translate(-50%, -100%);
    animation-name: sogra_peca;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h1.antes.sogra {
    top: 10%;
    left: 22%;
}

h1.despues.sogra {
    top: 10%;
    left: 80%;
}

h1.wow.sogra {
    top: 50%;
    font-size: 50px;
}